{{!-- The following component displays Ember's default welcome message. --}}
<article>
<h1>Twibbon Generator</h1>

<p>Silahkan unggah gambar dan bingkai Anda, aplikasi ini akan otomatis menggabungkan dengan unggahan gambar dan bingkai yang Anda pilih.</p>
<p><div class="panel media"><strong>Unggah Gambar</strong>
<a href="#" class="img">
<img src="/preview.png" style="width:100px;height:100px;"  alt="Unggah Gambar" />
</a>

<div class="bd">
<p>Pilih file dari komputer Anda. Anda dapat mengunggah berbagai ukuran gambar dari hard drive Anda.</p>
<p><input type="file" accept="image/*" onchange="loadFile(event)"></p>
</div>
</div></p>

<p><div class="panel media"><strong>Unggah Bingkai</strong>
<a href="#" class="img">
<img src="/twibbon.png" style="width:100px;height:100px;"  alt="Unggah bingkai" />
</a>

<div class="bd">
<p>Unggah karya seni bingkai Anda dengan latar belakang transparan sebagai File .PNG terpisah, dengan ukuran kurang dari 1 MB.</p>
<p><input type='file' accept="image/*" onchange="loadTemplate(event)"></p>
</div>
</div></p>

<p><button onclick="gen()" class="button-3" role="button">Pratinjau</button></p>

<!-- Result -->
<div id="custom-modal" class="custom-modal">
<div class="custom-modal-dialog">
<div class="custom-modal-content">
<span class="close-modal">X</span>
<div class="custom-modal-body">
<div class="custom-modal-inner">
<!-- Contetn here -->
<h4>Well Done! </h4>
<p>
<img id="avatar" style="display: none" src="/preview.jpg"/>
<img id="bingkai" style="display: none" src="/preview.jpg"/>
<canvas id="canvas"></canvas>
</p>

<p>
<button class="button-3" id="btndownload" role="button">UNDUH</button>
<button class="button-4" id="cancel" onclick="location.reload()" role="button">HAPUS</button> 
</p>
</div>
</div>
</div>
</div>
</div>

<p>PERANGKAT LUNAK INI DISEDIAKAN “SEBAGAIMANA ADANYA”, TANPA JAMINAN DALAM BENTUK APA PUN, TERSURAT MAUPUN TERSIRAT, TERMASUK NAMUN TIDAK TERBATAS PADA JAMINAN DIPERDAGANGKAN, KESESUAIAN UNTUK TUJUAN TERTENTU DAN TANPA PELANGGARAN. DALAM KEADAAN APA PUN PENULIS ATAU PEMEGANG HAK CIPTA TIDAK BERTANGGUNG JAWAB ATAS KLAIM, KERUSAKAN ATAU TANGGUNG JAWAB LAINNYA, BAIK DALAM TINDAKAN KONTRAK, KERUSAKAN ATAU LAINNYA, TIMBUL DARI, DARI ATAU SEHUBUNGAN DENGAN PERANGKAT LUNAK ATAU DALAM DEALING LAINNYA PERANGKAT LUNAK.</p>

</article>
<footer>
<p><a target="_blank" rel="noopener" href="/">Copyright © 2022 Ferry Ayunda.</a></p>
</footer>
<script src="/script.js"></script>
<script src="/modals.js"></script>
{{!-- Feel free to remove this! --}}

{{outlet}}
